body {
    background-color: #eaeaf8;
}

.tableFormat{
  border: 2px solid grey;
}

.buttonFormat{
  font-size: 16px;
  height: 34px;
}

.textBoxFormat,.ddlFormat{
  width: 80%;
  height: 25px;
  face:"verdana";
}
